<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Ecom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="menu">

    <div class="navbar-text d-none d-md-inline-flex me-auto ms-5">
        <a class="nav-link" href="#">Location</a>
      </div>

      <!-- Center: Search form -->
      <form class="d-flex mx-auto mb-md-2" role="search">
        <input class="form-control me-md-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- Right side: Links -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ms-lg-4"><a class="nav-link" href="#">Login</a></li>
        <li class="nav-item ms-lg-4"><a class="nav-link" href="#">Return</a></li>
        <li class="nav-item ms-lg-4"><a class="nav-link" href="#">Cart</a></li>
        <li class="nav-item d-md-none d-flex"><a class="nav-link" href="#">Location</a></li>
      </ul>
    </div>
  </div>
</nav>

